$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.nav-bar {
	position: fixed;
	top: 0;
	overflow: hidden;
	width: 50%;
	.my-thing-bar {
		width: 100%;
		overflow: hidden;
		padding: 0;
		margin: 0;
		li {
			background: rgba(0, 162, 95, 1);
			border-left: 1px solid transparent;
			box-sizing: border-box;
			color: rgba(142, 255, 0, 1);
			display: inline-block;
			height: 60px;
			padding: 5px 0 0;
			text-align: center;
			width: 19%;
			margin-left: 1px;
			float: left;
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 1.6;
			a{
				color: white;
			}
			&:first-child{
				border-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.social-bar {
	position: fixed;
	right: 20px;
	top: 50%;
	-ms-transform: translateY(-50%);
	/* IE 9 */
	
	-webkit-transform: translateY(-50%);
	/* Safari */
	
	transform: translateY(-50%);
	li {
		margin: 0;
		padding: 4px;
		list-style-type: none;
		background: red;
		border-radius: 50%;
		font-size: 20px;
		text-align: center;
		width: 35px;
		height: 35px;
		margin-top: 20px;
	}
}
